.hero {
  display: flex;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.slide {
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  button {
    margin: 0 20px;
  }
}
