.searchAndFilter {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  // align-items: center;
}

.search {
  flex: 1;
  margin-right: 24px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}