:root {
  /*colors*/
  --light-text: #fff;
  --dark-text: #212121;
  --brand-blue: #07bbc7;
  --brand-orange: #ff6f00;
  --brand-white: #fefefe;
  --border-color: #e9e9e9;
  
  /*sizes*/
  --header-height: 80px; /* Update HEADER_HEIGHT value if this changes*/
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --border-radius-full: 50%;
}

html {
  scroll-behavior: smooth;
}
