.floatingButton {
  background-color: var(--brand-blue);
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 32px;
  right: 4px;
  height: 40px;
  width: 40px;
  font-size: 18px;
}
