.greeting {
  background-image: url(/images/home/greeting.png);
  background-position: center center; /* Center the image */
  background-size: cover; /* Scale the image to cover the whole element */
  background-repeat: no-repeat; /* Do not repeat the image */

  height: 400px;
}