.header {
  background-color: var(--brand-white);
  color: var(--dark-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 2;
}

.headerLogo {
  position: relative;
  width: 50px;
  height: 39px;

  img {
    position: absolute;
  }
}

.menuButton {
  font-size: 28px;
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
  }
}